.last-part {
  max-width: 1280px;
  width: 100%;
  background-color: $footer-bg-color;
  display: flex;
  align-self: center;
  margin: 10rem 0 8.8rem 0;
}
.last-part__content {
  padding-left: 40px;
  padding-right: 40px;
  .site-logo {
  }
}
.last-part__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.last-part__menu {
  padding-right: 36.9rem;
  padding-left: 20.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.last-part__list {
  padding: 43px 0;
  display: flex;
  gap: 3.3rem;
}
.last-part__item {
}
.last-part__link {
  font-size: 1.2rem;
  font-weight: bold;
  color: $gray;
  &:hover {
    color: $dark_grey_blue;
  }
}
.social-links-menu {
  padding-left: 0px;
  padding-right: 0;
}
.social-links-menu__list {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
@media screen and (max-width: 768px) {
  .last-part {
    display: flex;
    flex-direction: column;
    margin: 14.4rem 4rem 7.2rem 4rem;
    max-width: 688px;
  }
  .last-part__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .site-logo {
      padding-top: 5.4rem;
    }
  }

  .last-part__menu {
    padding: 0rem 0 6.5rem 0;
  }
  .last-part__link {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .social-links-menu {
    padding-bottom: 5.4rem;
  }
}
@media screen and (max-width: 400px) {
  .last-part__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last-part {
    margin: 12rem 2.4rem 7.2rem 2.4rem;
    max-width: 327px;
  }
  .last-part__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .site-logo {
      padding-top: 5.4rem;
    }
  }

  .last-part__menu {
    padding: 0rem 0 6.5rem 0;
  }
  .last-part__link {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .social-links-menu {
    padding-bottom: 5.4rem;
  }
}
