$dark_cyan: #0e8784;
$dark_grey_blue: #333d4b;
$pale_pink: #fdd6ba;
$ligh-cream: #fefcf7;
$gray: #848990;
$white-color: #ffff;
$hover-color: #66d2cf;
$footer-bg-color: #2c343e;
$main-font: "Barlow";
$secondary-font: "Fraunces";
